 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 42px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1042px;
  margin: 61px auto 49px;
}

.u-section-1 .u-repeater-1 {
  min-height: 460px;
  grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
  grid-gap: 5px 5px;
  grid-auto-columns: calc(20% - 4px);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  width: 184px;
  height: 184px;
  --radius: 33px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: 23px 10px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  width: 184px;
  height: 184px;
  --radius: 33px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  margin: 23px 10px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  width: 184px;
  height: 184px;
  --radius: 33px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  margin: 23px 10px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  width: 184px;
  height: 184px;
  --radius: 33px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  margin: 23px 10px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-image-5 {
  width: 184px;
  height: 184px;
  --radius: 33px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  margin: 23px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 4px));
    min-height: 414px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 1px 0 -10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 1px 0 -10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin: 1px 0 -10px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin: 1px 0 -10px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin: 1px 0 -10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
    min-height: 1070px;
    grid-auto-columns: calc(33.333333333333336% - 3.3333333333333335px);
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    min-height: 1816px;
    grid-auto-columns: calc(50% - 2.5px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}
